.navigation {
    /* position:fixed; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: rgb(3, 51, 67);
  }
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: #2d6cb3;
  }

  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }