* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
  font-style: normal;
}

ul {
  list-style-type: none;
}

header {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
}

.menu-toggle {
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
}
.nav-links {
  flex: 1 ;
  text-align: center;
}
.nav-links ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 12 px;
  position: relative;
}
.nav-links ul li a{
  color:#333;
  text-decoration: none;
  font-size: 1rem;
}
.nav-links ul li::after {
  content: "";
  width:0%;
  height:2px;
  background-color: #333;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
/* .nav-menu {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
}

.nav-menu.active {
  display: block;
}

.nav-menu ul {
  list-style-type: none;
  margin-top: 8px;
}

.nav-menu li {
  display: inline;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-menu li a {
  color: #333;
  text-decoration: none;
  text-align: center;
}

.nav-menu li a:hover {
  border-bottom: 1px solid #7aa3d1;
} */

@media (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: inline;
  }

  .nav-menu menu {
    display: flex;
  }

  .nav-menu li {
    margin-left: 0px;
  }
}
